flask
biopython
celery
requests
redis
pyfastaq
uwsgi
bitarray
mmh3
requests_oauthlib
bsddb3==6.2.5
numpy
scipy
git+git://github.com/Mykrobe-tools/mykrobe-atlas-distance-client@d393b4ab5865deabd96d758294ea825d09051cbb
git+git://github.com/Mykrobe-tools/mykrobe-atlas-tracking-client@450dead0f96415e28b0efc71389a949fa91261e1
git+git://github.com/Mykrobe-tools/mykrobe-atlas-kmersearch-api-client@add6f2d9519a3fac3f03d2d4fa66124e92c43053
